.logo__container {
    width: 35%;
    margin: 0 auto;
}
.search__container{
    width: 75%;
    margin: 0 auto;
}
.pokemonList {
    display: flex;;
    flex-direction: column;
    gap: 3rem;
    margin-top: 3rem;
    padding: 0 3rem 2rem;
}
@media screen and (min-width: 425px) {
    .pokemonList {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }
}
@media screen and (min-width: 560px) {
    .pokemonList {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
    }
}
.searcher {
    margin-bottom: 10px;
}
.App {
    margin-top: 3rem;
}
.logo {
    margin-bottom: 3rem;
}
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

