.logo__container {
    width: 35%;
    margin: 0 auto;
}
.search__container{
    width: 75%;
    margin: 0 auto;
}
.pokemonList {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    margin-top: 3rem;
    padding: 0 2rem 2rem;
}
.ant-card, .ant-card-head {
    font-size: 13px !important;
}
@media screen and (min-width: 321px) {
    .pokemonList {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }
}
@media screen and (min-width: 560px) {
    .pokemonList {
        grid-template-columns: repeat(3, 1fr);
    }
}
@media screen and (min-width: 720px) {
    .ant-card-head {
        font-size: 16px !important;
    }
}
@media screen and (min-width: 960px) {
    .pokemonList {
        grid-template-columns: repeat(4, 1fr);
    }
}